
.container {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
}

.row.col {
  display: flex;
  flex-direction: column;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.textbox {
  font-size: 16px;
  padding: 2px;
  width: 50%;
  margin-right: 4px;
}

.logout {
  max-width: 250px;
}

.card-container {
  margin: 5px;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.card-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 90%;
  margin: 16px auto;
  font-family: arial;
}

.user-address-data {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 16px;
}

.error-text, .text {
  font-size: 12px;
}

hr {
  width: 95%;
}

.error-text, .text, .heading {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 16px;
  padding-left: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.error-text {
  color: red;
}

.button {
  appearance: none;
  background: none;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: white;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: black;
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
